.plyr__video-embed iframe::after {
    display: none !important;
  }
  .ytp-watermark {
    display: none !important;
  }


#youtubeframeid{
  opacity: 0;
  pointer-events: none;
}
.ytp-chrome-bottom {
  display: none !important;
}


.modal-xl {
  max-width: 90% !important;
}