.plyr__video-embed iframe::after {
    display: none;
  }
  .ytp-watermark {
    display: none !important;
  }


.youtubeframeid{
  opacity: 0;
  pointer-events: none;
}
.ytp-chrome-bottom {
  display: none !important;
}


.my-custom-modal {
  max-width: 90vw;
  max-height: 90vh;
}
